name: Docker Image CI
permissions:
  contents: read

on:
  push:
    branches:
      - main
      - dev
    tags:
      - 'v*.*.*'
  pull_request:

env:
  LATEST_TAG: omnicwbdev/sync:latest

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Select proper .dockerignore
        run: |
          echo "GITHUB_REF: ${GITHUB_REF}"
          echo "GITHUB_EVENT_NAME: ${GITHUB_EVENT_NAME}"

          if [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            echo "Pull Request detected → using development dockerignore"
            cp .dockerignore.dev .dockerignore
          elif [[ "${GITHUB_REF##*/}" == "dev" ]]; then
            echo "Development branch → using .dockerignore.dev"
            cp .dockerignore.dev .dockerignore
          else
            echo "Production branch → using .dockerignore.prod"
            cp .dockerignore.prod .dockerignore
          fi

          echo "Active dockerignore:"
          ls -l .dockerignore*

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: omnicwbdev/sync
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:buildx-stable-1
          buildkitd-flags: --debug

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.prod
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.LATEST_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BUILDKIT_INLINE_CACHE=1
          outputs: type=image,push=true
